In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
res = requests.get('https://www.betfair.com/sport/darts/pdc-world-championship/10474272/')

In [3]:
soup = BeautifulSoup(res.content)

In [9]:
runner_rows = soup.find(name='ul', attrs={'class' : 'runner-rows-container'})

In [13]:
names = [i['title'] for i in runner_rows.find_all('span', {'class' : 'runner-row-name has-no-handicap'})]

In [29]:
odds = [i.find('span').text for i in runner_rows.find_all('a')]

In [34]:
df = pd.DataFrame([names, odds]).T

In [35]:
df

                          0           1
0        Michael van Gerwen     \n5.0\n
1              Gerwyn Price     \n5.5\n
2     Dimitri van den Bergh    \n10.0\n
3              Peter Wright    \n12.0\n
4             Jonny Clayton    \n21.0\n
..                      ...         ...
142           Mikuru Suzuki  \n1001.0\n
143  Anastasia Dobromyslova  \n1001.0\n
144           Diogo Portela  \n1001.0\n
145                Paul Lim  \n1001.0\n
146         Fallon Sherrock  \n1001.0\n

[147 rows x 2 columns]

In [37]:
df = df.rename({0 : 'player', 1 : 'odds'}, axis=1)

In [38]:
df

                     player        odds
0        Michael van Gerwen     \n5.0\n
1              Gerwyn Price     \n5.5\n
2     Dimitri van den Bergh    \n10.0\n
3              Peter Wright    \n12.0\n
4             Jonny Clayton    \n21.0\n
..                      ...         ...
142           Mikuru Suzuki  \n1001.0\n
143  Anastasia Dobromyslova  \n1001.0\n
144           Diogo Portela  \n1001.0\n
145                Paul Lim  \n1001.0\n
146         Fallon Sherrock  \n1001.0\n

[147 rows x 2 columns]

In [42]:
df['odds'] = df['odds'].str.replace('\n', '')
df['odds'] = pd.to_numeric(df['odds'])

In [43]:
df

                     player    odds
0        Michael van Gerwen     5.0
1              Gerwyn Price     5.5
2     Dimitri van den Bergh    10.0
3              Peter Wright    12.0
4             Jonny Clayton    21.0
..                      ...     ...
142           Mikuru Suzuki  1001.0
143  Anastasia Dobromyslova  1001.0
144           Diogo Portela  1001.0
145                Paul Lim  1001.0
146         Fallon Sherrock  1001.0

[147 rows x 2 columns]

In [44]:
df.to_csv('./data/betfair_odds.csv', index=False)